.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.card {
  
  background-color: rgb(241, 240, 240);
  margin: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.card-title-div{
  background: rgb(161, 197, 248)
}

.row{
  margin: 0px !important
}
.card-title{
  text-align: center;
  margin: 1px !important;
  padding: 1px;
}

.Button{
  width: 140px;
  margin: auto;
}
